<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617427266679-4c03chslpi4g7qu066oc56j5rhijsfiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617427266679-4c03chslpi4g7qu066oc56j5rhijsfiu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617427266679-i71vhr64jrch2st2ao4mv8s4jeupubb8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPCAZQ5mSJ4NgclceVFO8NSXwzMEcvkEY</string>
	<key>GCM_SENDER_ID</key>
	<string>617427266679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.meetupapppm1</string>
	<key>PROJECT_ID</key>
	<string>meet-up-app-c55c8</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-up-app-c55c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617427266679:ios:64be26d6c43702f00c6a72</string>
</dict>
</plist>